.field_plainLoggerArea {

}

.field_plainLoggerArea .content {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Courier New",Courier,monospace;
    font-size: 12px;
    height: 600px;
    overflow: scroll;
    padding: 10px;
}